#principal{
    border: solid 3px cadetblue;
    width: 80%;
    margin: auto;
    padding: 5px;
}

fieldset{

    margin: 0px;

}

legend{
border: solid 5px cadetblue;
padding: 5px;
font-weight: bold;
border-radius: 20px;
background: lightblue;
}

#mifoto{
    border-radius: 20px;
    border: solid 3px cadetblue;

}

body{
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', white;
font-weight: 100;
background-size: 250%;
background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: url(https://i.pinimg.com/originals/1e/11/4f/1e114f1d36f5bce0b2859be5d68cf82f.png)

}
